* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.wapper {
    height: 100%;
    width: 100%;
}


.nav {
    height: 10%;
    width: 100%;
    background-color: black;
    color: gray;
    display: flex;
}


.logo {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 6vw;

}


.remixicon {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}


.remixicon i {
    font-size: 6vw;
    margin-right: 3vw;
}

.meau {
    height: 50%;
    width: 100%;

}

.meau img {
    height: 70%;
    border-radius: 10%;
    margin-left: 5vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.meau h3 {

    font-family: "Rubik Scribble", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 4vw;
    color: rgb(140, 143, 143);
    margin-left: 11vw;
    margin-top: 4vw;
    

}

.meau2 {
    height: 50%;
    width: 100%;
}


.meau2 h1{
    font-family: "Rubik Scribble", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 8vw;
    color: rgb(140, 143, 143);
    margin-left: 11vw;
}

.meau2 p{
    
    font-size: 4vw;
       font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       margin-left: 9vw;
}
.meau2 img{
    height: 40vw;
    margin-left: 20vw;
    animation-name: sneaker;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
     animation-direction: alternate;
    
}

.one{
    height: 50%;
    width: 80%;
    margin-top: 5vw;
    
    background-color:rgba(0,0, 0, 0.1); 
    backdrop-filter:blur(10px);
    opacity: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
   
   margin-left: 10vw;
   font-family: Arial, Helvetica, sans-serif;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.one h1{
    padding-bottom: 2vw;
}


.input-box {
    padding: 2vw ;
}


.input-box input{
    padding: 2vw 4vw;
    border-radius: 20px;
    border: none;
    background: transparent;
    background-color:rgba(0,0, 0, 0.1); 
    backdrop-filter:blur(15px);
}


.but button{
    padding: 0.3vw 2vw;
    margin-top: 1vw;
    border: none;
    border-radius: 20px;
}


.l1 p{
    margin-left: 5vw;
    margin-top: 1vw ;
    font-family: Arial, Helvetica, sans-serif;
}

.self{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.self a{
    text-decoration: none;
    font-size: 7vw;
    color: black;
}




@keyframes sneaker {
    0%{
        transform: scale(2);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
